/* Global CSS in your main project */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay gris */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* S'assure que la modale est au-dessus de tout */
  }

  .modal-overlay > div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }


  